/*
 * Design tokens exported from Figma
 * Exported at: 2026-03-04T00:56:18.939Z
 * Format: Raw CSS variables grouped by kind
 */
:root {
  /* Colors */
  /* Fonts */
  /* Measures */
  --blue100: oklch(0.91 0.039 262.932);
  --blue200: oklch(0.821 0.08 262.625);
  --blue300: oklch(0.733 0.123 262.152);
  --blue400: oklch(0.649 0.167 261.612);
  --blue50: oklch(0.949 0.021 259.183);
  --blue500: oklch(0.568 0.211 261.712);
  --blue600: oklch(0.489 0.206 261.77);
  --blue700: oklch(0.399 0.163 261.789);
  --blue800: oklch(0.304 0.119 261.552);
  --blue900: oklch(0.203 0.066 260.137);
  --blue950: oklch(0.141 0.037 257.429);
  --blueBorderDark: oklch(0 0 0);
  --blueBorderDefault: oklch(0 0 0);
  --blueBorderLight: oklch(0 0 0);
  --blueSurfaceDark: oklch(0 0 0);
  --blueSurfaceDefault: oklch(0 0 0);
  --blueSurfaceDisabled: oklch(0 0 0);
  --blueSurfaceSubtle: oklch(0 0 0);
  --blueTextBody: oklch(0 0 0);
  --blueTextCaption: oklch(0 0 0);
  --blueTextDisabled: oklch(0 0 0);
  --blueTextSubtle: oklch(0 0 0);
  --blueTextTitle: oklch(0 0 0);
  --errorBorderDark: oklch(0 0 0);
  --errorBorderDefault: oklch(0 0 0);
  --errorBorderLight: oklch(0 0 0);
  --errorSurfaceDark: oklch(0 0 0);
  --errorSurfaceDefault: oklch(0 0 0);
  --errorSurfaceDisabled: oklch(0 0 0);
  --errorSurfaceSubtle: oklch(0 0 0);
  --errorTextBody: oklch(0 0 0);
  --errorTextCaption: oklch(0 0 0);
  --errorTextDisabled: oklch(0 0 0);
  --errorTextSubtle: oklch(0 0 0);
  --errorTextTitle: oklch(0 0 0);
  --green100: oklch(0.938 0.043 160.239);
  --green200: oklch(0.879 0.086 159.16);
  --green300: oklch(0.823 0.126 158.185);
  --green400: oklch(0.774 0.161 155.119);
  --green50: oklch(0.969 0.018 166.39);
  --green500: oklch(0.701 0.163 153.701);
  --green600: oklch(0.59 0.136 153.886);
  --green700: oklch(0.481 0.108 154.371);
  --green800: oklch(0.364 0.079 154.942);
  --green900: oklch(0.238 0.044 156.316);
  --green950: oklch(0.178 0.03 158.184);
  --indigo100: oklch(0.94 0.029 275.148);
  --indigo200: oklch(0.879 0.057 275.43);
  --indigo300: oklch(0.806 0.098 275.029);
  --indigo400: oklch(0.724 0.144 274.379);
  --indigo50: oklch(0.977 0.011 274.913);
  --indigo500: oklch(0.597 0.218 269.945);
  --indigo600: oklch(0.561 0.241 268.381);
  --indigo700: oklch(0.462 0.288 264.256);
  --indigo800: oklch(0.462 0.288 264.256);
  --indigo900: oklch(0.36 0.219 264.157);
  --indigo950: oklch(0.282 0.168 264.088);
  --indigoBorderDark: oklch(0 0 0);
  --indigoBorderDefault: oklch(0 0 0);
  --indigoBorderLight: oklch(0 0 0);
  --indigoSurfaceDark: oklch(0 0 0);
  --indigoSurfaceDefault: oklch(0 0 0);
  --indigoSurfaceDisabled: oklch(0 0 0);
  --indigoSurfaceSubtle: oklch(0 0 0);
  --indigoTextBody: oklch(0 0 0);
  --indigoTextCaption: oklch(0 0 0);
  --indigoTextDisabled: oklch(0 0 0);
  --indigoTextSubtle: oklch(0 0 0);
  --indigoTextTitle: oklch(0 0 0);
  --orange100: oklch(0.93 0.033 49.34);
  --orange200: oklch(0.855 0.07 50.185);
  --orange300: oklch(0.79 0.106 49.05);
  --orange400: oklch(0.728 0.138 48.319);
  --orange50: oklch(0.957 0.019 41.814);
  --orange500: oklch(0.673 0.173 45.15);
  --orange600: oklch(0.585 0.163 43.557);
  --orange700: oklch(0.472 0.127 44.468);
  --orange800: oklch(0.353 0.092 44.063);
  --orange900: oklch(0.237 0.055 47.234);
  --orange950: oklch(0.161 0.031 59.744);
  --pastelGreen100: oklch(0.938 0.02 181.103);
  --pastelGreen200: oklch(0.876 0.044 180.039);
  --pastelGreen300: oklch(0.82 0.062 179.229);
  --pastelGreen400: oklch(0.759 0.08 179.244);
  --pastelGreen50: oklch(0.968 0.011 182.897);
  --pastelGreen500: oklch(0.702 0.097 177.043);
  --pastelGreen600: oklch(0.602 0.083 177.344);
  --pastelGreen700: oklch(0.493 0.068 177.762);
  --pastelGreen800: oklch(0.366 0.048 176.81);
  --pastelGreen900: oklch(0.239 0.025 178.231);
  --pastelGreen950: oklch(0.171 0.016 180.55);
  --pastelGreenBorderDark: oklch(0 0 0);
  --pastelGreenBorderDefault: oklch(0 0 0);
  --pastelGreenBorderLight: oklch(0 0 0);
  --pastelGreenSurfaceDark: oklch(0 0 0);
  --pastelGreenSurfaceDefault: oklch(0 0 0);
  --pastelGreenSurfaceSubtle: oklch(0 0 0);
  --pastelGreenTextBody: oklch(0 0 0);
  --pastelGreenTextCaption: oklch(0 0 0);
  --pastelGreenTextDisabled: oklch(0 0 0);
  --pastelGreenTextSubtle: oklch(0 0 0);
  --pastelGreenTextTitle: oklch(0 0 0);
  --pastelLightBlue100: oklch(0.927 0.022 243.805);
  --pastelLightBlue200: oklch(0.863 0.042 242.741);
  --pastelLightBlue300: oklch(0.79 0.065 243.737);
  --pastelLightBlue400: oklch(0.727 0.086 243.93);
  --pastelLightBlue50: oklch(0.967 0.01 247.95);
  --pastelLightBlue500: oklch(0.658 0.108 244.577);
  --pastelLightBlue600: oklch(0.568 0.116 246.329);
  --pastelLightBlue700: oklch(0.459 0.091 245.359);
  --pastelLightBlue800: oklch(0.353 0.068 247.205);
  --pastelLightBlue900: oklch(0.227 0.037 242.687);
  --pastelLightBlue950: oklch(0.168 0.022 245.515);
  --pastelLightBlueBorderDark: oklch(0 0 0);
  --pastelLightBlueBorderDefault: oklch(0 0 0);
  --pastelLightBlueBorderLight: oklch(0 0 0);
  --pastelLightBlueSurfaceDark: oklch(0 0 0);
  --pastelLightBlueSurfaceDefault: oklch(0 0 0);
  --pastelLightBlueSurfaceMild: oklch(0 0 0);
  --pastelLightBlueSurfaceSubtle: oklch(0 0 0);
  --pastelLightBlueTextBody: oklch(0 0 0);
  --pastelLightBlueTextCaption: oklch(0 0 0);
  --pastelLightBlueTextDisabled: oklch(0 0 0);
  --pastelLightBlueTextSubtle: oklch(0 0 0);
  --pastelLightBlueTextTitle: oklch(0 0 0);
  --pastelOrange100: oklch(0.929 0.031 48.366);
  --pastelOrange200: oklch(0.852 0.067 47.916);
  --pastelOrange300: oklch(0.784 0.1 47.072);
  --pastelOrange400: oklch(0.723 0.133 46.449);
  --pastelOrange50: oklch(0.96 0.017 50.437);
  --pastelOrange500: oklch(0.66 0.168 44.065);
  --pastelOrange600: oklch(0.576 0.157 42.806);
  --pastelOrange700: oklch(0.466 0.124 43.319);
  --pastelOrange800: oklch(0.35 0.089 43.872);
  --pastelOrange900: oklch(0.238 0.052 47.271);
  --pastelOrange950: oklch(0.159 0.03 50.371);
  --pastelOrangeBorderDark: oklch(0 0 0);
  --pastelOrangeBorderDefault: oklch(0 0 0);
  --pastelOrangeBorderLight: oklch(0 0 0);
  --pastelOrangeSurfaceDark: oklch(0 0 0);
  --pastelOrangeSurfaceDefault: oklch(0 0 0);
  --pastelOrangeSurfaceSubtle: oklch(0 0 0);
  --pastelOrangeTextBody: oklch(0 0 0);
  --pastelOrangeTextCaption: oklch(0 0 0);
  --pastelOrangeTextDisabled: oklch(0 0 0);
  --pastelOrangeTextSubtle: oklch(0 0 0);
  --pastelOrangeTextTitle: oklch(0 0 0);
  --pastelPurple100: oklch(0.931 0.016 286.097);
  --pastelPurple200: oklch(0.864 0.033 283.78);
  --pastelPurple300: oklch(0.794 0.051 283.916);
  --pastelPurple400: oklch(0.722 0.069 283.586);
  --pastelPurple50: oklch(0.972 0.007 286.277);
  --pastelPurple500: oklch(0.652 0.089 282.156);
  --pastelPurple600: oklch(0.517 0.127 279.906);
  --pastelPurple700: oklch(0.417 0.109 279.229);
  --pastelPurple800: oklch(0.319 0.077 279.106);
  --pastelPurple900: oklch(0.213 0.045 281.938);
  --pastelPurple950: oklch(0.161 0.025 283.22);
  --pastelPurpleBorderDark: oklch(0 0 0);
  --pastelPurpleBorderDefault: oklch(0 0 0);
  --pastelPurpleBorderLight: oklch(0 0 0);
  --pastelPurpleSurfaceDark: oklch(0 0 0);
  --pastelPurpleSurfaceDefault: oklch(0 0 0);
  --pastelPurpleSurfaceSubtle: oklch(0 0 0);
  --pastelPurpleTextBody: oklch(0 0 0);
  --pastelPurpleTextCaption: oklch(0 0 0);
  --pastelPurpleTextDisabled: oklch(0 0 0);
  --pastelPurpleTextSubtle: oklch(0 0 0);
  --pastelPurpleTextTitle: oklch(0 0 0);
  --pastelRed100: oklch(0.912 0.029 20.347);
  --pastelRed200: oklch(0.826 0.063 16.041);
  --pastelRed300: oklch(0.741 0.097 18.036);
  --pastelRed400: oklch(0.662 0.136 19.165);
  --pastelRed50: oklch(0.962 0.013 17.388);
  --pastelRed500: oklch(0.595 0.168 22.089);
  --pastelRed600: oklch(0.509 0.168 23.669);
  --pastelRed700: oklch(0.415 0.133 23.561);
  --pastelRed800: oklch(0.316 0.097 22.991);
  --pastelRed900: oklch(0.209 0.053 21.048);
  --pastelRed950: oklch(0.154 0.034 17.554);
  --pastelRedBorderDark: oklch(0 0 0);
  --pastelRedBorderDefault: oklch(0 0 0);
  --pastelRedBorderLight: oklch(0 0 0);
  --pastelRedSurfaceDark: oklch(0 0 0);
  --pastelRedSurfaceDefault: oklch(0 0 0);
  --pastelRedSurfaceSubtle: oklch(0 0 0);
  --pastelRedTextBody: oklch(0 0 0);
  --pastelRedTextCaption: oklch(0 0 0);
  --pastelRedTextDisabled: oklch(0 0 0);
  --pastelRedTextSubtle: oklch(0 0 0);
  --pastelRedTextTitle: oklch(0 0 0);
  --pastelViolet100: oklch(0.966 0.01 311.175);
  --pastelViolet200: oklch(0.924 0.019 320.56);
  --pastelViolet300: oklch(0.88 0.032 319.459);
  --pastelViolet400: oklch(0.838 0.044 319.97);
  --pastelViolet50: oklch(0.982 0.004 314.819);
  --pastelViolet500: oklch(0.786 0.058 319.468);
  --pastelViolet600: oklch(0.732 0.073 319.293);
  --pastelViolet700: oklch(0.662 0.094 319.459);
  --pastelViolet800: oklch(0.591 0.114 319.552);
  --pastelViolet900: oklch(0.456 0.096 319.73);
  --pastelViolet950: oklch(0.38 0.076 320.253);
  --pastelVioletBorderDark: oklch(0 0 0);
  --pastelVioletBorderDefault: oklch(0 0 0);
  --pastelVioletBorderLight: oklch(0 0 0);
  --pastelVioletSurfaceDark: oklch(0 0 0);
  --pastelVioletSurfaceDefault: oklch(0 0 0);
  --pastelVioletSurfaceSubtle: oklch(0 0 0);
  --pastelVioletTextBody: oklch(0 0 0);
  --pastelVioletTextCaption: oklch(0 0 0);
  --pastelVioletTextDisabled: oklch(0 0 0);
  --pastelVioletTextSubtle: oklch(0 0 0);
  --pastelVioletTextTitle: oklch(0 0 0);
  --pastelYellow100: oklch(0.966 0.041 99.582);
  --pastelYellow200: oklch(0.93 0.084 100.437);
  --pastelYellow300: oklch(0.897 0.118 99.923);
  --pastelYellow400: oklch(0.869 0.145 100.683);
  --pastelYellow50: oklch(0.979 0.022 101.35);
  --pastelYellow500: oklch(0.837 0.163 99.936);
  --pastelYellow600: oklch(0.739 0.148 99.083);
  --pastelYellow700: oklch(0.594 0.118 99.305);
  --pastelYellow800: oklch(0.444 0.086 99.69);
  --pastelYellow900: oklch(0.291 0.054 99.851);
  --pastelYellow950: oklch(0.232 0.048 96.334);
  --pastelYellowBorderDark: oklch(0 0 0);
  --pastelYellowBorderDefault: oklch(0 0 0);
  --pastelYellowBorderLight: oklch(0 0 0);
  --pastelYellowSurfaceDark: oklch(0 0 0);
  --pastelYellowSurfaceDefault: oklch(0 0 0);
  --pastelYellowSurfaceSubtle: oklch(0 0 0);
  --pastelYellowTextBody: oklch(0 0 0);
  --pastelYellowTextCaption: oklch(0 0 0);
  --pastelYellowTextDisabled: oklch(0 0 0);
  --pastelYellowTextSubtle: oklch(0 0 0);
  --pastelYellowTextTitle: oklch(0 0 0);
  --primaryBorderDark: oklch(0 0 0);
  --primaryBorderDefault: oklch(0 0 0);
  --primaryBorderLighter: oklch(0 0 0);
  --primaryBorderSubtle: oklch(0 0 0);
  --primaryPurple100: oklch(0.912 0.043 278.259);
  --primaryPurple200: oklch(0.828 0.086 277.116);
  --primaryPurple300: oklch(0.745 0.131 274.644);
  --primaryPurple400: oklch(0.675 0.172 272.889);
  --primaryPurple50: oklch(0.963 0.018 279.075);
  --primaryPurple500: oklch(0.597 0.218 269.945);
  --primaryPurple600: oklch(0.491 0.286 264.982);
  --primaryPurple700: oklch(0.397 0.245 264.18);
  --primaryPurple800: oklch(0.299 0.18 264.373);
  --primaryPurple900: oklch(0.193 0.104 263.577);
  --primaryPurple950: oklch(0.141 0.066 262.153);
  --primaryPurpleBorderDark: oklch(0 0 0);
  --primaryPurpleBorderDefault: oklch(0 0 0);
  --primaryPurpleBorderLighter: oklch(0 0 0);
  --primaryPurpleBorderSubtle: oklch(0 0 0);
  --primaryPurpleSurfaceDark: oklch(0 0 0);
  --primaryPurpleSurfaceDefault: oklch(0 0 0);
  --primaryPurpleSurfaceLighter: oklch(0 0 0);
  --primaryPurpleSurfaceSubtle: oklch(0 0 0);
  --primaryPurpleTextLabel: oklch(0 0 0);
  --primarySurfaceDark: oklch(0 0 0);
  --primarySurfaceDefault: oklch(0 0 0);
  --primarySurfaceLighter: oklch(0 0 0);
  --primarySurfaceMildDark: oklch(0 0 0);
  --primarySurfaceSubtle: oklch(0 0 0);
  --primaryTextLabel: oklch(0 0 0);
  --red100: oklch(0.878 0.055 18.243);
  --red200: oklch(0.757 0.116 19.493);
  --red300: oklch(0.66 0.178 23.291);
  --red400: oklch(0.591 0.223 27.523);
  --red50: oklch(0.938 0.026 17.631);
  --red500: oklch(0.5 0.193 27.91);
  --red600: oklch(0.421 0.16 27.68);
  --red700: oklch(0.345 0.129 26.981);
  --red800: oklch(0.263 0.093 26.482);
  --red900: oklch(0.175 0.053 24.448);
  --red950: oklch(0.125 0.037 24.111);
  --slate100: oklch(0.968 0.007 247.888);
  --slate150: oklch(0.957 0.008 253.817);
  --slate200: oklch(0.929 0.013 255.501);
  --slate300: oklch(0.869 0.02 252.889);
  --slate400: oklch(0.711 0.035 256.779);
  --slate50: oklch(0.984 0.003 247.793);
  --slate500: oklch(0.557 0.04 254.984);
  --slate600: oklch(0.446 0.037 257.289);
  --slate700: oklch(0.372 0.039 257.284);
  --slate800: oklch(0.28 0.037 260.029);
  --slate900: oklch(0.208 0.04 265.752);
  --slate950: oklch(0.129 0.041 264.701);
  --slateBorderDark: oklch(0 0 0);
  --slateBorderDefault: oklch(0 0 0);
  --slateBorderLight: oklch(0 0 0);
  --slateBorderMild: oklch(0 0 0);
  --slateIconsActive: oklch(0 0 0);
  --slateIconsDisabled: oklch(0 0 0);
  --slateIconsSubtle: oklch(0 0 0);
  --slateSurfaceDark500: oklch(0 0 0);
  --slateSurfaceDark600: oklch(0 0 0);
  --slateSurfaceDarkest: oklch(0 0 0);
  --slateSurfaceDefault: oklch(0 0 0);
  --slateSurfaceDisabled: oklch(0 0 0);
  --slateSurfaceSlate150: oklch(0 0 0);
  --slateSurfaceSubtle: oklch(0 0 0);
  --slateSurfaceSubtle100(Hover): oklch(0 0 0);
  --slateSurfaceSubtle200: oklch(0 0 0);
  --slateSurfaceSubtle300: oklch(0 0 0);
  --slateSurfaceWhite: oklch(1 0 0);
  --slateTextBody: oklch(0 0 0);
  --slateTextCaption: oklch(0 0 0);
  --slateTextDisabled: oklch(0 0 0);
  --slateTextSubtle: oklch(0 0 0);
  --slateTextTitle: oklch(0 0 0);
  --successBorderDark: oklch(0 0 0);
  --successBorderDefault: oklch(0 0 0);
  --successBorderLight: oklch(0 0 0);
  --successSurfaceDark: oklch(0 0 0);
  --successSurfaceDefault: oklch(0 0 0);
  --successSurfaceSubtle: oklch(0 0 0);
  --successTextBody: oklch(0 0 0);
  --successTextCaption: oklch(0 0 0);
  --successTextDisabled: oklch(0 0 0);
  --successTextSubtle: oklch(0 0 0);
  --successTextTitle: oklch(0 0 0);
  --violet100: oklch(0.932 0.018 320.069);
  --violet200: oklch(0.855 0.038 320.353);
  --violet300: oklch(0.786 0.058 319.468);
  --violet400: oklch(0.707 0.079 318.986);
  --violet50: oklch(0.966 0.01 311.175);
  --violet500: oklch(0.636 0.099 319.186);
  --violet600: oklch(0.533 0.111 319.157);
  --violet700: oklch(0.439 0.089 319.082);
  --violet800: oklch(0.333 0.063 318.676);
  --violet900: oklch(0.226 0.038 320.37);
  --violet950: oklch(0.162 0.018 326.37);
  --warningBorderDark: oklch(0 0 0);
  --warningBorderDefault: oklch(0 0 0);
  --warningBorderLight: oklch(0 0 0);
  --warningSurfaceDark: oklch(0 0 0);
  --warningSurfaceDefault: oklch(0 0 0);
  --warningSurfaceSubtle: oklch(0 0 0);
  --warningTextBody: oklch(0 0 0);
  --warningTextCaption: oklch(0 0 0);
  --warningTextDisabled: oklch(0 0 0);
  --warningTextSubtle: oklch(0 0 0);
  --warningTextTitle: oklch(0 0 0);
}
